{#
/**
*
*@file
*@see template_preprocess_block
*@ingroup themeable
*
*/
#}
<h1>Meteo</h1>

<p>A {{ location }} il fait <br>
  {{ temperature }}°C<br>
  <img src="http://openweathermap.org/img/wn/{{ icon }}@2x.png">
  <br> {{ description }}</p>
